In [2]:
from pathlib import Path
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [3]:
data = pd.read_parquet(Path("data") / "train.parquet")

In [4]:
external_data = pd.read_csv(Path("data") / "external_data.csv")

In [5]:
data['date'] = pd.to_datetime(data['date'])
external_data['date'] = pd.to_datetime(external_data['date'])

In [6]:
df = pd.merge(data, external_data, how='inner', on='date')
df

,counter_id,counter_name,site_id,site_name,bike_count,date,counter_installation_date,coordinates,counter_technical_id,latitude,...,hnuage1,nnuage2,ctype2,hnuage2,nnuage3,ctype3,hnuage3,nnuage4,ctype4,hnuage4
0,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,1.0,2020-09-01 03:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,4.0,2020-09-01 15:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,...,1700.0,5.0,6.0,2300.0,NaN,NaN,NaN,NaN,NaN,NaN
2,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,9.0,2020-09-01 18:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,...,1700.0,7.0,6.0,2400.0,NaN,NaN,NaN,NaN,NaN,NaN
3,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,7.0,2020-09-02 18:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,12.0,2020-09-03 15:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,...,1830.0,5.0,0.0,8000.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165363,300014702-353245971,254 rue de Vaugirard SO-NE,300014702,254 rue de Vaugirard,211.0,2021-09-07 15:00:00,2020-11-29,"48.83977,2.30198",Y2H20114504,48.839770,...,8000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165364,300014702-353245971,254 rue de Vaugirard SO-NE,300014702,254 rue de Vaugirard,156.0,2021-09-09 18:00:00,2020-11-29,"48.83977,2.30198",Y2H20114504,48.839770,...,1600.0,2.0,3.0,2800.0,6.0,0.0,8000.0,1.0,9.0,2300.0
165365,300014702-353245971,254 rue de Vaugirard SO-NE,300014702,254 rue de Vaugirard,440.0,2021-09-08 06:00:00,2020-11-29,"48.83977,2.30198",Y2H20114504,48.839770,...,8000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165366,300014702-353245971,254 rue de Vaugirard SO-NE,300014702,254 rue de Vaugirard,445.0,2021-09-09 06:00:00,2020-11-29,"48.83977,2.30198",Y2H20114504,48.839770,...,120.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165367,300014702-353245971,254 rue de Vaugirard SO-NE,300014702,254 rue de Vaugirard,218.0,2021-09-09 15:00:00,2020-11-29,"48.83977,2.30198",Y2H20114504,48.839770,...,1380.0,4.0,6.0,1560.0,4.0,0.0,7500.0,NaN,NaN,NaN